<form name="contactForm" novalidate>
    <fieldset>
        <legend>New contact</legend>

        <label>First name *</label>
        <input type="text" name="fname" placeholder="First name" ng-model="new.fname" required>
        <span class="help-block" ng-show="contactForm.fname.$invalid && !contactForm.fname.$pristine">
            Please enter first name
        </span>

        <label>Last name *</label>
        <input type="text" name="lname" placeholder="Last name" ng-model="new.lname" required>
        <span class="help-block" ng-show="contactForm.lname.$invalid && !contactForm.lname.$pristine">
            Please enter last name
        </span>

        <label>DoB</label>
        <input type="text" name="dob" placeholder="DoB" ng-model="new.dob">

        <label>Tel.</label>
        <input type="text" name="tel" placeholder="Tel" ng-model="new.tel">

        <br />
        <button type="submit" class="btn" ng-click="add()">Add contact</button>
    </fieldset>
</form>