<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>
                <a href="#" ng-click="sortType = 'fname'; sortReverse = !sortReverse">
                    First name
                    <span ng-show="sortType == 'fname' && !sortReverse">&lt;</span>
                    <span ng-show="sortType == 'fname' && sortReverse">&gt;</span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'lname'; sortReverse = !sortReverse">
                    Last name
                    <span ng-show="sortType == 'lname' && !sortReverse">&lt;</span>
                    <span ng-show="sortType == 'lname' && sortReverse">&gt;</span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'dob'; sortReverse = !sortReverse">
                    Date of birth
                    <span ng-show="sortType == 'dob' && !sortReverse">&lt;</span>
                    <span ng-show="sortType == 'dob' && sortReverse">&gt;</span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'tel'; sortReverse = !sortReverse">
                    Cell
                    <span ng-show="sortType == 'tel' && !sortReverse">&lt;</span>
                    <span ng-show="sortType == 'tel' && sortReverse">&gt;   </span>
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="contact in list | orderBy:sortType:sortReverse">
            <td><my-cell>{{ contact.fname }}</my-cell></td>
            <td>{{ contact.lname | uppercase }}</td>
            <td>{{ contact.dob | date:'fullDate' }}</td>
            <td>{{ contact.tel }}</td>
        </tr>
        </tbody>
    </table>
</div>