html, body {
    height: 100%;
    font-size: 16px;
    line-height: 1.25;
}

body {
    background-color: #efefef;
    font-family: sans-serif;
}

/* GENERIC AND HELPER CLASSES */
h3 {            font-size: 1.5rem; line-height: 3rem;}
h4 {            font-size: 1.25rem; line-height: 2.5rem;}
h5 {            font-weight: 600;}
a {             text-decoration: none;}

.sm-mb {        margin-bottom: 8px;}
.sm-mb-2 {      margin-bottom: 16px;}

/* LAYOUT */
.page {
    display: flex;
    max-width: 1024px;
    min-height: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ASIDE */
aside {
    min-width: 15rem;
    background-color: #27276d;
    color: white;
}
aside .section-title {
    padding: 0 1rem;
    background-color: #1c1c54;
}
aside section {
    padding: 1rem;
}
aside a {
    color: white;
}
aside .progress {
    position: relative;
    height: 0.5rem;
    margin: 0.5rem 0;
    background-color: #1c1c54;
}
aside .progress::after {
    content: " ";
    position: absolute;
    height: 100%;
    background-color: white;
}
aside .fill-25::after {     width: 25%;}
aside .fill-50::after {     width: 50%;}
aside .fill-75::after {     width: 75%;}
aside .fill-100::after {    width: 100%;}
aside .sub {
    text-align: right;
    font-size: 0.75rem;
}

/* MAIN */
main {
    flex: auto;
    padding: 1rem;
    color: #333;
    /*visibility: hidden;*/
}
main .section-title {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    color: #1c1c54;
}
main section {
    padding: 1rem 0;
}
main a {
    color: #27276d;
}
main a:hover {
    color: #1c1c54;
}
main ul {
    list-style: inside;
}
main p {
    margin: 0.5rem 0;
}
main i {
    font-style: italic;
}

section.two-column {
    display: flex;
}
section .column-one {
    min-width: 7rem;
}
section .column-two {
    flex: auto;
}

/* MEDIA QUERIES */
@media all and (min-width: 1024px) {
    .page {
        margin: 0.5rem auto;
        min-height: calc(100% - 1rem);
    }
}

/*@media all and (max-width: 768px) {
    .page {
        display: block;
    }
    aside, main {
        width: 100%;
    }
    main {
        padding: 0;
    }
    main section, main h4 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}*/
